---
- name: Replicape - Prepare Linux
  include: replicape.yml
  when: platform == 'replicape'

- name: Recore - Prepare Linux
  include: recore.yml
  when: platform == 'recore'

- name: Pi - Prepare Linux
  include: pi.yml
  when: platform == 'pi'

- name: Pi64 - Prepare Linux
  include: pi.yml
  when: platform == 'pi64'
