---
- name: upgrade packages
  apt:
    upgrade: dist
    update_cache: yes

- name: remove unneeded packages
  apt:
    pkg:
    - smartmontools
    state: absent
    autoremove: yes

- name: install packages
  apt:
    pkg:
    - unzip
    - libavahi-compat-libdnssd1
    - libnss-mdns
    - byobu
    - htop
    - cpufrequtils
    - pv
    state: present
    autoremove: yes
    autoclean: yes

- name: Recore - ensure the debian user exists
  user:
    name: debian
    comment: Default user for OctoPrint
    shell: /bin/bash
    groups: tty,dialout
    append: yes
    expires: -1
    home: /home/debian

- name: enable ssh
  service:
    name: ssh
    enabled: no

- name: Recore - disable root login
  replace:
    path: /etc/ssh/sshd_config
    regexp: '^.*PermitRootLogin.*$'
    replace: '#PermitRootLogin'

- name: get date
  command: 'date --iso-8601'
  register: build_date

- name: Register ReFactor version
  script:
    cmd: '{{ role_path }}/files/get_refactor_version.sh'
  register: version

- name: write dogtag
  copy:
    dest: '/etc/{{ dogtag }}'
    content: '{{ version.stdout }} {{ build_date.stdout }}'

- name: set hostname
  copy:
    dest: /etc/hostname
    content: "{{ platform }}\n"

- name: set root password
  user:
    name: root
    password: "{{ 'kamikaze' | password_hash('sha512') }}"

- name: set debian password
  user:
    name: debian
    password: "{{ 'temppwd' | password_hash('sha512') }}"

- name: write issue and issue.net
  copy:
    dest: '{{ item }}'
    content: |
      {{ version.stdout }}

      Check that nothing is printing before any intensive operation!
  with_items:
    - /etc/issue.net
    - /etc/issue

- name: Recore - copy dtb and dts device trees
  copy:
    src: '{{ role_path }}/files/{{ item }}'
    dest: "/boot/dtb/allwinner/{{ item }}"
  with_items:
    - sun50i-a64-recore-a3.dtb
    - sun50i-a64-recore-a4.dtb
    - sun50i-a64-recore-a5.dtb
    - sun50i-a64-recore-a6.dtb

- name: Recore - symlink dtb to latest
  file:
    src: sun50i-a64-recore-a6.dtb
    dest: /boot/dtb/allwinner/sun50i-a64-recore.dtb
    state: link
    force: yes

- name: Recore - add flashing scripts
  copy:
    src: "{{ item }}"
    dest: /usr/local/bin
    mode: '0755'
  with_items:
    - use-recore-revision
    - get-recore-config
    - get-recore-serial-number
    - flash-recore
    - set-boot-media
    - get-boot-media
    - is-media-present
    - get-rootfs
    - refactor-apt-upgrade
    - set-ssh-access
    - is-ssh-enabled

- name: Recore - Replace platform name
  replace:
    path: /etc/armbian-release
    regexp: "{{ item.regexp1 }}"
    replace: "{{ item.replace }}"
  with_items:
    - { regexp1: 'Pine64', replace: 'Recore'}
    - { regexp1: 'pine64', replace: 'recore'}

- name: Recore - Fix haveged
  replace:
    path: /etc/default/haveged
    regexp: '"-w 1024"'
    replace: '"-w 1024 -d 16"'

- name: Recore - fix home ownership
  command: chown -R debian:debian /home/debian

- name: Recore - Make boot partition read-only
  replace:
    path: /etc/fstab
    regexp: "defaults,commit=600,errors=remount-ro 0 2"
    replace: "ro,defaults 0 0"

- name: Recore - Add ttyGS0 to /etc/securetty
  lineinfile:
    path: /etc/securetty
    line: ttyGS0
    state: present

- name: Recore - Add g_serial to /etc/modules
  lineinfile:
    path: /etc/modules-load.d/modules.conf
    line: g_serial
    state: present

- name: Recore - Add console log
  lineinfile:
    path: /boot/armbianEnv.txt
    line: extraargs=console=ttyGS0,115200 console=tty1
    state: present

- name: Recore - Enable ttyGS0 getty service
  service:
    name: serial-getty@ttyGS0.service
    enabled: yes

- name: Recore, Crate images directory
  file:
    path: "/home/debian/images"
    state: directory
    mode: '0755'
    owner: debian
    group: debian

- name: Recore, Create mount directories
  file:
    path: "{{ item }}"
    state: directory
    mode: '0755'
  loop:
    - /mnt/emmc
    - /mnt/usb

- name: Recore, Update fstab, mount emmc and usb in known locations
  lineinfile:
    path: /etc/fstab
    state: present
    line: "{{ item }}"
  loop:
    - "/dev/sda1 /mnt/usb ext4 ro,defaults,nofail"
    - "/dev/mmcblk0p1 /mnt/emmc ext4 ro,defaults,nofail"

- name: Recore - force debian password reset
  shell: chage -d 0 debian
