[Unit]
Description=OctoPrint

[Service]
Type=simple
ExecStart=/usr/local/bin/octoprint serve
Restart=always
RestartSec=60
User=octo

[Install]
WantedBy=multi-user.target
