---
- name: get installed kernel version
  shell: ls /lib/modules
  register: kernel_version

- name: set kernel version to 4.14
  shell:
    cmd: 'FORCEMACHINE=TI_AM335x_BeagleBoneBlack /opt/scripts/tools/update_kernel.sh --lts-4_14 --ti-kernel'
  when: '"4.14" not in kernel_version.stdout'

- name: clone klipper from the repository
  git: 
    repo: https://github.com/BlackStump/klipper
    version: Replicape-systemd-update
    dest: '{{ klipper_home }}'
    update: yes
    clone: yes

- name: remove the avrdude dependency in install-debian
  shell: "cat {{ klipper_home }}/scripts/install-debian.sh | grep -v avr > {{ klipper_home }}/scripts/install-debian-2.sh && mv {{ klipper_home }}/scripts/install-debian-2.sh {{ klipper_home }}/scripts/install-debian.sh"

- name: remove the avrdude dependency in install-debian-bbb.sh
  shell: "cat {{ klipper_home }}/scripts/install-debian-bbb.sh | grep -v avr > {{ klipper_home }}/scripts/install-debian-bbb-2.sh && mv {{ klipper_home }}/scripts/install-debian-bbb-2.sh {{ klipper_home }}/scripts/install-debian-bbb.sh && chmod +x {{ klipper_home }}/scripts/install-debian-bbb.sh"

- name: add debian user to tty group
  user:
    name: debian
    groups: tty
    append: yes

- name: install pru gcc
  apt:
    name: gcc-pru
    state: latest

- name: adjust ownership of klipper source
  file:
    path: "{{ klipper_home }}"
    owner: debian
    group: debian
    recurse: yes

- name: give debian user the klipper service permissions
  lineinfile:
    path: /etc/sudoers
    state: present
    line: "debian ALL=NOPASSWD: ALL"

- name: remove old line from sudoers
  lineinfile:
    path: /etc/sudoers
    state: absent
    line: "%sudo *"

- name: install Klipper within the install scripts
  shell: "export USER=debian; {{ klipper_home }}/scripts/install-debian-bbb.sh"
  args: 
    chdir: "{{ klipper_home }}"
  become: true
  become_user: debian
      
- name: compile binary blobs for klippy
  shell:
    cmd: "cd {{ klipper_home }} ; cp {{ item }} .config ; make flash"
  with_items:
    - "{{ role_path }}/files/pru_config"
    - "{{ role_path }}/files/linux_config"

- name: create klipper config file
  copy:
    src: "{{ klipper_home }}/config/generic-replicape.cfg"
    dest: /home/debian/printer.cfg
    owner: debian
    group: debian


- name: place Klipper-friendly config for octoprint in place
  copy:
    src: "{{ role_path }}/files/octoprint_config.yaml"
    dest: /home/debian/.octoprint/config.yaml
    owner: debian
    group: debian

- name: replace UIO with rproc kernel overlays
  shell: 
    cmd: "sed -i 's\\#uboot_overlay_pru=/lib/firmware/AM335X-PRU-RPROC-4-19-TI-00A0.dtbo\\uboot_overlay_pru=/lib/firmware/AM335X-PRU-RPROC-4-19-TI-00A0.dtbo\\' /boot/uEnv.txt"

- name: enable rproc overlay
  lineinfile:
    line: uboot_overlay_pru=/lib/firmware/AM335X-PRU-RPROC-4-14-TI-00A0.dtbo
    insertbefore: enable_uboot_cape_universal=1
    state: present
    path: /boot/uEnv.txt
