---
- name: Recore - Install packages
  apt:
    name:
      - libgpiod-dev
      - gpiod
      - git
      - virtualenv
      - python3-dev
      - libffi-dev
      - build-essential
      - libncurses-dev
      - libusb-dev
      - stm32flash
      - libnewlib-arm-none-eabi
      - binutils-arm-none-eabi
      - gcc-arm-none-eabi
      - pkg-config
      - python3-libxml2
      - python3-cffi
      - libc6-dev
    state: present

- name: Recore - ensure the debian user exists
  user:
    name: debian
    comment: Default user for OctoPrint
    shell: /bin/bash
    groups: tty,dialout
    append: yes
    expires: -1
    home: /home/debian

- name: Recore - give debian permissions to python folders for updates
  file:
    path: '{{ item }}'
    group: debian
    owner: debian
    mode: 0755
    recurse: yes
    state: directory
  with_items:
    - /home/debian
    - /usr/local/lib/python3
    - /usr/local/bin

- name: Recore - clone klipper from the repository
  git:
    repo: https://github.com/Klipper3d/klipper
    version: master
    dest: '{{ klipper_home }}'
    update: yes
    clone: yes

- name: Recore - add missing files for klipper
  copy:
    src: 'files/{{ item }}'
    dest: "{{ klipper_home }}/klippy/extras/"
    mode: '0644'
  with_items:
    - thermocouple.py
    - recore.py
    - recore_a5.py
    - tmc2130_a5.py
    - tmc2209_a5.py
    - recore_thermistor.py
    - recore_adc_temperature.py

- name: Recore - add missing install script
  copy:
    src: files/install-recore.sh
    dest: "{{ klipper_home }}/scripts/"
    mode: '0755'

- name: Recore - add config files
  copy:
    src: "files/{{ item }}"
    dest: "{{ klipper_home }}/config/"
    mode: '0644'
  with_items:
    - generic-recore-a5.cfg
    - generic-recore-a6.cfg
    - generic-recore-a7.cfg

- name: Recore - adjust ownership of klipper source
  file:
    path: "{{ klipper_home }}"
    owner: debian
    group: debian
    recurse: yes

- name: Recore - give debian user the klipper service permissions
  lineinfile:
    path: /etc/sudoers
    state: present
    line: "debian ALL=NOPASSWD: ALL"

- name: Recore - remove sudoers group authorization
  lineinfile:
    path: /etc/sudoers
    line: "%sudo   ALL=(ALL:ALL) ALL"
    state: absent

- name: Recore - Create virtual env
  shell: virtualenv -p python3 /home/debian/klippy-env
  become: true
  become_user: debian

- name: Recore - install requirements
  shell: /home/debian/klippy-env/bin/pip install -r /home/debian/klipper/scripts/klippy-requirements.txt
  become: true
  become_user: debian

- name: Recore - install Numpy
  shell: "/home/debian/klippy-env/bin/pip install numpy"

- name: Recore - Install klipper service file
  copy:
    src: "{{ role_path }}/files/klipper-recore.service"
    dest: "/etc/systemd/system/klipper.service"
    mode: '0644'

- name: Recore - Enable klipper service
  service:
    name: klipper.service
    enabled: yes

- name: Recore - Make firmware folder
  file:
    path: /opt/firmware
    state: directory
    mode: '0755'
    owner: debian
    group: debian

- name: Recore - Get and extract toolchain
  unarchive:
    src: http://feeds.iagent.no/toolchains/or1k-linux-musl-11.2.0.tar.xz
    dest: /opt/
    owner: debian
    group: debian
    remote_src: yes

- name: Recore - Copy AR100 config
  copy:
    src: "{{ role_path }}/files/ar100.config"
    dest: "{{ klipper_home }}/.config"
    owner: debian
    group: debian

- name: Recore - Compile AR100 binary
  shell: |
    export PATH=$PATH:/opt/output/bin
    make olddefconfig
    make
  args:
    chdir: "{{ klipper_home }}"

- name: Recore - Copy AR100 binary
  copy:
    src: "{{ klipper_home }}/out/ar100.bin"
    dest: /opt/firmware/ar100.bin
    owner: debian
    group: debian
    remote_src: yes
    force: no

- name: Recore - Install bl31 binary
  copy:
    src: "{{ role_path }}/files/bl31.bin"
    dest: /opt/firmware/bl31.bin
    owner: debian
    group: debian

- name: Recore - Copy STM32 config
  copy:
    src: "{{ role_path }}/files/stm32f0.config"
    dest: "{{ klipper_home }}/.config"
    owner: debian
    group: debian

- name: Recore - Compile STM32 binary
  shell: |
    make olddefconfig
    make
  args:
    chdir: "{{ klipper_home }}"

- name: Recore - Copy STM32 binary
  copy:
    src: "{{ klipper_home }}/out/klipper.bin"
    dest: /opt/firmware/stm32.bin
    owner: debian
    group: debian
    remote_src: yes
    force: no

- name: Recore - Install stm32 flasher script
  copy:
    src: "{{ role_path }}/files/flash-stm32"
    dest: "/usr/local/bin"
    mode: '0755'

- name: Recore - Install stm32 flasher service
  copy:
    src: "{{ role_path }}/files/flash-stm32.service"
    dest: "/etc/systemd/system/"

- name: Recore - Enable stm32 flasher service
  service:
    name: flash-stm32.service
    enabled: yes

- name: Recore - Make Klipper config folder
  file:
    path: /home/debian/printer_data/config/
    state: directory
    mode: '0755'
    owner: debian
    group: debian

- name: Recore - make sure the sudoers.d/debian file exists
  file:
    path: /etc/sudoers.d/debian
    owner: root
    group: root
    state: touch

- name: Recore - create folder for klipper logs in /var/log
  file:
    path: /var/log/klipper_logs
    state: directory
    mode: '0755'
    owner: debian
    group: debian
