---
- name: Recore - Install packages
  apt:
    name:
      - nftables
      - python3.7
      - python3-pip
      - python3-dev
      - git
      - python-setuptools
      - gcc
      - pv
    state: present

- name: Recore - verify python3-virtualenv is present
  pip:
    name: virtualenv
    executable: pip3

- name: Recore - ensure the debian user exists
  user:
    name: debian
    comment: Default user for OctoPrint
    shell: /bin/bash
    groups: tty,dialout
    append: yes
    expires: -1
    home: /home/debian

- name: Recore - create nftables port forward from :80 to :5000
  copy:
    src: "{{ role_path }}/files/nftables.conf"
    dest: "/etc/nftables.conf"

- name: Recore - Enable nftables
  service:
    name: nftables
    enabled: yes

- name: create home octoprint folder
  file:
    path: /home/debian/.octoprint
    state: directory
    owner: debian
    group: debian

- name: Recore - give debian permissions to python folders for updates
  file:
    path: '{{ item }}'
    group: debian
    owner: debian
    mode: 0755
    recurse: yes
    state: directory
  with_items:
    - '{{ octoprint_home }}/..'
    - /usr/local/lib/python3
    - /usr/local/bin

- name: Recore - Make octoprint config folder
  file:
    path: "{{ octoprint_home}}/../.octoprint"
    state: directory
    owner: debian
    group: debian

- name: Recore - Insert octoprint config
  copy:
    src: "{{ role_path }}/files/config_recore.yaml"
    dest: "{{ octoprint_home }}/../.octoprint/config.yaml"
    owner: debian
    group: debian
    force: no

- name: Recore - Use pip to install OctoPrint
  pip:
    chdir: '{{ octoprint_home }}'
    virtualenv: '{{ octoprint_home }}/venv'
    virtualenv_python: python3.7
    state: latest
    name: git+https://github.com/foosel/OctoPrint.git
  become_user: debian

- name: Recore - Have the upload folder ready
  file:
    path: /home/debian/printer_data/gcodes
    state: directory
    owner: debian
    group: debian
    mode: 0777

- name: Recore - annotate OctoPrint port in services
  lineinfile:
    path: /etc/services
    line: octoprint 5000/tcp
    state: present

- name: Recore - make sure the sudoers.d/debian file exists
  file:
    path: /etc/sudoers.d/debian
    owner: root
    group: root
    state: touch

- name: Recore - grant debian user sudo privileges for some commands
  blockinfile:
    path: /etc/sudoers.d/debian
    block: |
      %debian ALL=NOPASSWD: /bin/systemctl restart octoprint.service
      %debian ALL=NOPASSWD: /sbin/reboot
      %debian ALL=NOPASSWD: /sbin/shutdown -h now
      %debian ALL=NOPASSWD: /sbin/poweroff
      %debian ALL=NOPASSWD: /usr/local/bin/set-boot-media usb
      %debian ALL=NOPASSWD: /usr/local/bin/set-boot-media emmc
      %debian ALL=NOPASSWD: /usr/local/bin/flash-recore *.img.xz
      %debian ALL=NOPASSWD: /usr/local/bin/get-boot-media

- name: Recore - install service file for OctoPrint
  copy:
    src: '{{ role_path }}/files/octoprint.service'
    dest: /etc/systemd/system/octoprint.service
    owner: root
    group: root
    mode: 0644

- name: Recore - enable octoprint service
  service:
    name: octoprint
    enabled: yes

- name: Recore - allow debian user access to relevant folders
  file:
    path: "{{ item }}"
    owner: debian
    group: debian
    state: directory
    recurse: yes
  with_items:
    - /usr/src/Refactor
    - /home/debian

- name: Recore - Install OctoPrint switcheroo
  copy:
    src: enable-octoprint
    dest: /usr/local/bin/
    mode: 0700
