---
- name: Recore - Install packages
  apt:
    name:
      - libgirepository1.0-dev
      - libcairo2-dev
      - at-spi2-core
      - libdbus-1-3
      - libdbus-1-dev
    state: present

- name: Recore - clone KlipperScreen from the master repository
  git:
    repo: https://github.com/jordanruthe/KlipperScreen
    version: master
    dest: '{{ debian.home }}/KlipperScreen'
    clone: yes
  become: yes
  become_user: debian

- name: Recore - Install KlipperScreen
  shell: |
    '{{ debian.home }}/KlipperScreen/scripts/KlipperScreen-install.sh'
  sudo: yes
  sudo_user: debian

- name: Recore - install service file
  copy:
    src: KlipperScreen.service
    dest: /etc/systemd/system/
    mode: 0644

- name: Recore - install config file
  copy:
    src: KlipperScreen.conf
    dest: '{{ klipper_data }}/config'
    owner: debian
    group: debian
    mode: 0755

- name: Recore - Enable KlipperScreen
  systemd:
    name: KlipperScreen.service
    enabled: yes

- name: Recore - Add debian to netdev
  user:
    name: debian
    groups: netdev
    append: yes
