[Unit]
After=dev-steppers.device
Requires=steppers.device
Description=The Replicape Daemon

[Service]
ExecStart=/usr/local/bin/redeem

[Install]
WantedBy=basic.target
