# systemd service file for moonraker
[Unit]
Description=API Server for Klipper SV1
Requires=network-online.target
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User=debian
SupplementaryGroups=moonraker-admin
RemainAfterExit=yes
WorkingDirectory=/home/debian/moonraker
EnvironmentFile=/home/debian/printer_data/systemd/moonraker.env
ExecStart=/home/debian/moonraker-env/bin/python $MOONRAKER_ARGS
Restart=always
RestartSec=10
