#Systemd service file for moonraker
[Unit]
Description=API Server for Klipper
Requires=network-online.target
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
Environment=MOONRAKER_CONFIG=/home/debian/klipper_config/moonraker.conf
Environment=MOONRAKER_LOG=/var/log/klipper_logs/moonraker.log
Type=simple
User=debian
SupplementaryGroups=moonraker-admin
RemainAfterExit=yes
WorkingDirectory=/home/debian/moonraker
ExecStart=/home/debian/moonraker-env/bin/python /home/debian/moonraker/moonraker/moonraker.py -c ${MOONRAKER_CONFIG} -l ${MOONRAKER_LOG}
Restart=always
RestartSec=10
