#Systemd service file for OctoPrint
[Unit]
Description=OctoPrint

[Service]
Type=simple
ExecStart=/home/debian/OctoPrint/venv/bin/octoprint serve
Restart=always
RestartSec=60
User=debian

[Install]
WantedBy=klipper.service
