[Unit]
Description=OctoPrint

[Service]
Type=simple
ExecStart=/home/debian/OctoPrint/venv/bin/octoprint serve
Restart=always
RestartSec=60
User=debian
Nice=2

[Install]
WantedBy=multi-user.target
