[Unit]
Description=Mjpg streamer
Wants=dev-video0.device
After=dev-video0.device

[Service]
ExecStart=/usr/local/bin/mjpg_streamer -i "/usr/local/lib/mjpg-streamer/input_uvc.so" -o "/usr/local/lib/mjpg-streamer/output_http.so"

[Install]
WantedBy=basic.target