#Systemd service file for klipper-pru
[Unit]
Description=klipper pru
Documentation=man:systemd.special(7)
PartOf=klipper.service
After=klipper.service
Before=klipper_host_mcu.service
#ConditionPathExists=/sys/class/remoteproc/remoteproc2/state
#ConditionPathExists=/sys/class/remoteproc/remoteproc1/state
StartLimitInterval=20s
StartLimitBurst=10

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/bin/bash /home/debian/klipper/scripts/pru_start.sh
ExecStop=/bin/bash /home/debian/klipper/scripts/pru_stop.sh
Restart=always
RestartSec=15

[Install]
WantedBy=klipper.service
