[Unit]
Documentation=man:systemd-sysv-generator(8)
Description=Klipper thread application
After=multi-user.target

[Service]
Type=Simple
Requires=klipper_pru.service
Restart=always
RemainAfterExit=yes
SuccessExitStatus=5 6
ExecStart=/usr/local/klipper/bin/python /usr/src/klipper/klippy/klippy.py /etc/klipper/printer.cfg -l /home/octo/.octoprint/logs/klippy.log
User=octo

[Install]
WantedBy=multi-user.target
