#Systemd service file for klippy
[Unit]
Description=Klippy thread application
PartOf=klipper.service
After=klipper_host_mcu.service klipper_pru.service
Requires=klipper_host_mcu.service klipper_pru.service
Before=octoprint.service

[Service]
Type=simple
User=debian
RemainAfterExit=yes
ExecStart=/home/debian/klippy-env/bin/python /home/debian/klipper/klippy/klippy.py /home/debian/printer.cfg -l /tmp/klippy.log
RestartSec=20
Restart=always

[Install]
WantedBy=klipper.service
