[Unit]
Documentation=man:systemd-sysv-generator(8)
Description=Klipper thread application
After=multi-user.target

[Service]
Type=Simple
Restart=yes
RemainAfterExit=yes
SuccessExitStatus=5 6
ExecStart=/usr/local/klipper/bin/python /usr/src/klipper/klippy/klippy.py /etc/klipper/printer.cfg
User=octo

[Install]
WantedBy=multi-user.target
