[Unit]
Description=Workaround for ethernet on recore a4

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/usr/lib/recore-a4-eth-fix

[Install]
WantedBy=multi-user.target
