[Unit]
Description=Allow Toggle to register access to OctoPrint
Before=octoprint.service toggle.service

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/usr/lib/toggle-runfirst

[Install]
WantedBy=multi-user.target
