[Unit]
Description=3D-printer user interface
After=weston.service

[Service]
Environment="XDG_RUNTIME_DIR=/run/user/0"
Environment=MX_RC_FILE=/etc/toggle/styles/Plain/style.css
Environment=CLUTTER_BACKEND=wayland
ExecStart=/usr/local/bin/toggle

[Install]
WantedBy=multi-user.target